  <h1> Contact info </h1>
  <% @contacts.each_slice(3) do |three_contacts| %>
  <div class="row">
    <% three_contacts.each do |contact| %>
      <div class="col-md-4">
        <div class="well">
        
          <h2><%= contact.first_name %></h2> 
          <h3><%= contact.last_name %></h3>
          <h4><%= contact.email %></h4>
          <h5><%= contact.phone_number %></h5>
          <img src="<%= asset_path 'silhouette.png' %>" alt "" >
        </div>
      </div>
    <% end %>
  </div>
<% end %>
 

